{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showcase</title>
<link rel="stylesheet" href="{% static '../static/css/base.css' %}">
</head>
<body>

<div id="container">
	<div id="header">
	<h2>Shoes shop</h2>
	</div>

	<div id="navigation">
	<h2>Блок навигации</h2>
	</div>

	<div id="sidebar">
	<h2>Goods</h2>
	</div>

	<div id="content">
	<h2>Основной контент страницы</h2>
	</div>

	<div id="clear">

	</div>

	<div id="footer">
	<h2>footer (низ сайта)</h2>
	</div>
</div>

</body>
</html>